@import './fonts.scss';
@import './variables.scss';

.balance-bar {
  z-index: 1;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  transition: top 500ms $start-animation;

  &__cell {
    display: flex;
    align-items: center;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__icon {
    width: 24px;
    margin-right: 6px;
  }

  &__value {
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
    color: #fff;
  }

  &.hidden {
    top: -60px;
  }
}
