@font-face {
    font-family: 'Jersey';
    src: url('../fonts/jersey.ttf');
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/nunito-extralight.ttf');
}

@font-face {
    font-family: 'Newspapper';
    src: url('../fonts/newspapper.ttf');
}