@font-face {
  font-family: 'Paper';
  src: url('../fonts/Paper.ttf');
}

@font-face {
  font-family: 'Press';
  src: url('../fonts/Press.ttf');
}

// @font-face {
//   font-family: "DroidSerif";
//   src: url("DroidSerif-Regular-webfont.ttf") format("truetype");
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: "DroidSerif";
//   src: url("DroidSerif-Italic-webfont.ttf") format("truetype");
//   font-weight: normal;
//   font-style: italic;
// }