@font-face {
  font-family: 'Jersey';
  src: url('../fonts/jersey.ttf');
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/nunito-extralight.ttf');
}

@font-face {
  font-family: 'Newspapper';
  src: url('../fonts/newspapper.ttf');
}

@font-face {
  font-family: 'Juno';
  src: url('../fonts/juno.otf');
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter.ttf');
}
