@import './fonts.scss';
@import './variables.scss';

.plants-menu {
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 40px 10px 0 10px;
  background-color: #e2dfd0;
  transition: bottom 200ms ease-in-out;

  &.hidden {
    bottom: -100vh;
  }

  &__close-btn {
    z-index: 12;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 36px;
  }

  &__frame {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    width: 100%;
    pointer-events: none;
  }

  &__header {
    color: $plant-shop-color;
    font-size: 40px;
    font-family: 'Newspapper', sans-serif;
  }

  &__description {
    margin: 5px 15px 0 15px;
    text-align: center;
    color: $plant-shop-color;
    font-size: 12px;
    font-family: 'Newspapper', sans-serif;
  }

  &__list {
    width: 100%;
    margin-top: 18px;
    margin-left: 10px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;
    padding-top: 8px;
    padding-left: 5px;
    color: $plant-shop-color;
    border-top: 1px dashed #61677a;

    &:last-child() {
      margin-bottom: 0;
    }
  }

  &__icon {
    width: 64px;

    &:last-child() {
      margin-bottom: 0;
    }
  }

  &__card {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 20px;
    font-family: 'Newspapper', sans-serif;
    letter-spacing: 1px;
  }

  &__info {
    display: flex;
    align-items: center;
    margin-top: 6px;
  }

  &__stat-icon {
    margin-right: 5px;
    width: 24px;
  }

  &__value {
    display: flex;
    align-items: center;
    margin-right: 14px;
    font-family: 'Newspapper', sans-serif;
    font-family: 1.7rem;

    &:last-child {
      margin-right: 0;
    }
  }
}
