@import './fonts.scss';
@import './variables.scss';

.shop-menu {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 20px 0;
  background: #31363f;
  transition: left 200ms $menu-animation;

  &__btn-open {
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background: #fff;
  }

  &__btn-close {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    width: 32px;
  }

  &__wallet {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 31%;
    border-radius: 10px;
    background-color: #3d3b40;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  &__image {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 5px;
    font-family: 'Newspapper', sans-serif;
  }

  &__value {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 5px;
    font-family: 'Newspapper', sans-serif;
  }

  &__icon {
    width: 24px;
    margin-right: 5px;
  }

  &__cost {
    font-size: 1rem;
  }

  &__sale {
    margin-left: 8px;
    font-size: 1rem;
    text-decoration: line-through;
    color: red;
  }

  &.hidden {
    left: -100vw;
  }
}
