@import './fonts.scss';
@import './variables.scss';

.swiper-extra-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  margin-bottom: 12px;

  &__item {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    font-family: 'Press', sans-serif;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.swiper-extra {
  padding-bottom: 32px;
}
