$menu-animation: cubic-bezier(0.42, 0, 0.58, 1);
$start-animation: cubic-bezier(0.42, 0, 0.58, 1);
$bg-color: #31363f;
$text-color: rgba(255, 255, 255, 0.87);
$plant-shop-color: #191919;
$bot-menu-height: 50px;
$bot-menu-indent: 25px;
$bot-menu-margin: 10px;
$app-padding: 100px;
