$menu-animation: cubic-bezier(0.42, 0, 0.58, 1);
$start-animation: cubic-bezier(0.42, 0, 0.58, 1);

$bg-color: #31363f;
$text-color: rgba(255, 255, 255, 0.87);

$bot-position-y: 32px; 
$bot-icon-size: 64px;
$bot-icon-size-main: 72px;

$app-padding: 100px;