@import './styles/fonts.scss';
@import './styles/variables.scss';
@import './styles/bottom-menu';
@import './styles/plants-menu';
@import './styles/shop-menu.scss';
@import './styles/seed-picked.scss';
@import './styles/balance-data.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: $text-color;
  background-color: $bg-color;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#game-container {
  width: 100vw;
  height: 100vh;
}
