@import './styles/fonts.scss';
@import './styles/variables.scss';
@import './styles/papper-menu.scss';
@import './styles/shop-menu.scss';
@import './styles/swiper-extra.scss';

* {
  box-sizing: border-box;
}

body {
  pointer-events: none;
  overflow-y: hidden;
  background-color: #322C2B;
}

#app {
  pointer-events: auto;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
}

#log {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 16px;
  font-family: sans-serif;
}

#game-container {
  pointer-events: auto;
  width: 100%;
  height: 100%;
}
