@import './styles/fonts.scss';
@import './styles/variables.scss';
@import './styles/plants-menu';
@import './styles/shop-menu.scss';
@import './styles/picked-plant-bar.scss';
@import './styles/balance-bar.scss';
@import './styles/bottom-bar';

* {
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  overflow-y: hidden;
}

#app {
  width: 100vw;
  height: 100vh;
}