@import './fonts.scss';
@import './variables.scss';

.swiper-extra-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  overflow-x: scroll;

  &__item {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    font-family: 'Bebas Neue', sans-serif;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}
